
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    font-family: Orbitron!important;
    padding: 0;
    margin: 0;
}
.banner-campeonato-equipos{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 99%;
    color: #000000;
}
.banner-portada{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    padding: 50px;
}
.banner-portada img{
    width: 60%;
    max-width: 610px;
}

.seccion-tablas-campeonato{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.tablaindex{
    margin-top: 40px;
}

.seccion-tempordas-anteriores{
    margin-top: 100px!important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: auto
}
.card{
    margin-top: 20px!important;
}

.portada-paginas{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    color: aliceblue;
    padding: 50px;
}
.card{
    transition: 0.3s ease-in-out
}
.card:hover{
    scale: 1.01!important;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
